{% extends "main copy.html" %}
{% block main %} 
    <div class="container">
        <div class="side_menu">
            <ul class="side_list">
                <li>
                    <a href="/restaurant">서울특별시</a>
                    <ul class="side_sub_menu">
                        <li><a href="/restaurant67">강서구</a></li>
                        <li><a href="/restaurant">강동구</a></li>
                        <li><a href="/restaurant">강북구</a></li>
                        <li><a href="/restaurant23">강남구</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/restaurant">인천광역시</a>
                    <ul class="side_sub_menu">
                        <li><a href="/restaurant45">서구</a></li>
                        <li><a href="/restaurant">중구</a></li>
                        <li><a href="/restaurant">미추홀구</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/restaurant">경기도</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}