{% extends "main copy.html" %}
{% block main %}
    <div class="container">
        <!-- Swiper -->
    <div class="swiper mySwiper1">
    <div class="swiper-wrapper swiper1-wrapper">
    <div class="swiper-slide swiper1-bg">
        <img src="static/food6.jpg" alt="bg">
    </div>
    <div class="swiper-slide bg2">
        <img src="static/food4.jpg" alt="bg">
        " alt="bg">
    </div>
    <div class="swiper-slide bg3">
        <img src="static/food5.jpg" alt="bg">
    </div>
    </div>
    <div class="swiper-pagination"></div>
    </div>
    </div>
    <div class="review">
    <div class="review_area" >
    <h3>REVIEW</h3>
    <ul>
        <li><a href="#">아직 등록된 리뷰가 없습니다.</a></li>
        <li><a href="#">아직 등록된 리뷰가 없습니다.</a></li>
        <li><a href="#">아직 등록된 리뷰가 없습니다.</a></li>
        <li><a href="#">아직 등록된 리뷰가 없습니다.</a></li>
    </ul>
    </div>
    </div>
    <!-- //wrap -->
    </div>
    <footer class="clear">
    <ul class="ad clear">
    <li><a href="#">CONTACT</a></li>
    <li><a href="#">PRIVACY POLICY</a></li>
    <li><a href="#">COOKIE POLICY</a></li>
    </ul>
    <div class="b_area clear">
    <ul class="text_area clear">>
    <li>© LG H & H Tokyo R&D Center Ltd. All Rights Reserved</li>
    </ul>

    </div>
    <p class="title">BOB<br>ZIP</p>
    <ul class="list">
    <li><a href="#">세상에서 제일 중요한 점심 메뉴 고르기</a></li>
    <li><a href="#">오늘 뭐먹지</a></li>
    <li><a href="#">반장님 멱살 캐리 하는중</a></li>
    </ul>
    <a href="#"><img src="static/free-icon-right-arrow-109617 - 복사본 - 복사본.png" alt="top"></a>

    </footer>
{% endblock %}