{% extends "main copy.html" %}
{% block title %}
    restaurant 
{% endblock %}
{% block main %}
<form action="/count" method="post">
    <div class="container">
        <div class="side_menu">
            <ul class="side_list">
                <li>
                    <a href="/restaurant">서울특별시</a>
                    <ul class="side_sub_menu">
                        <li><a href="/restaurant67">강서구</a></li>
                        <li><a href="/restaurant">강동구</a></li>
                        <li><a href="/restaurant">강북구</a></li>
                        <li><a href="/restaurant23">강남구</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/restaurant">인천광역시</a>
                    <ul class="side_sub_menu">
                        <li><a href="/restaurant45">서구</a></li>
                        <li><a href="/restaurant">중구</a></li>
                        <li><a href="/restaurant">미추홀구</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/restaurant">경기도</a>
                </li>
            </ul>
        </div>
        <div class="r_aside">
            <div class = "con">
                <img src="{{rows6[0]['img']}}" width="800px" height="450px">
            </div>
            <div class="con2">
                <ul style="text-align: left;">
                    <li class="name" ><a href="#"><span>업체명 :</span> {{rows6[0]['rname']}}</a></li>
                    <li class="adr"><a href="#"><span>주소 :</span> {{rows6[0]['address']}}</a></li>
                    <li class="team"><a href="#" >총 대기 팀수 : N 팀</a></li>
                    <button type="submit" class="button1" value="{{rows6[0]['id']}}" name = "r_id">예약하기</button>
                </ul>
            </div>

            <div class = "con">
                <img src="{{rows7[0]['img']}}" width="800px" height="450px">
            </div>
            <div class="con2">
                <ul style="text-align: left;">
                    <li class="name" ><a href="#"><span>업체명 :</span> {{rows7[0]['rname']}}</a></li>
                    <li class="adr"><a href="#"><span>주소 :</span> {{rows7[0]['address']}}</a></li>
                    <li class="team"><a href="#" >총 대기 팀수 : N 팀</a></li>
                    <button type="submit" class="button1" value="{{rows7[0]['id']}}" name = "r_id">예약하기</button>
                </ul>
            </div>
        </div>   
    </div>
</form>

{% endblock %}